<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geburtstage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <header class="border mb-3 p-3">
            <h1>Geburtstage</h1>
        </header>

        <div id="app">
            <!-- R E A D  VIEW -->
            <main v-if="readVisible" class="border mb-3 p-3">
                <h2>Read: Alle Daten anzeigen</h2>
                <ul class="list-group mb-3">
                    <li :title="person.geschenkidee" class="list-group-item d-flex justify-content-between" v-for="person in personen">
                        <div>{{ person.name }}</div>
                        <div>{{ deutschesDatumsformat(person.geburtsdatum) }}</div>
                        <div>
                            <button @click="buttonBearbeitenClick(person)" class="btn btn-primary btn-sm me-2">Bearbeiten</button>
                            <button @click="buttonLoeschenClick(person)" class="btn btn-danger btn-sm">Löschen</button>
                        </div>
                    </li>
                </ul>

                <button @click="buttonNeuClick" class="btn btn-success">Neuen Eintrag erstellen</button>
            </main>

            <!-- C R E A T E VIEW -->
            <main v-if="createVisible" class="border mb-3 p-3">
                <h2>Create: Neuen Datensatz erstellen</h2>

                <div class="border mb-3 p-3">
                    <label class="form-label" for="inputName">Name</label>
                    <input v-model="personNeu.name" class="form-control" id="inputName" type="text">
                </div>

                <div class="border p-3">
                    <label class="form-label" for="inputGeburtsdatum">Geburtsdatum</label>
                    <input v-model="personNeu.geburtsdatum" class="form-control" id="inputGeburtsdatum" type="date">
                </div>

                <div class="border p-3">
                    <label class="form-label" for="textareaGeschenkidee">geschenkIdee</label>
                    <textarea v-model="personNeu.geschenkidee" class="form-control" id="textareaGeschenkidee"></textarea>
                </div>

                <button @click="buttonSpeichernClick" class="btn btn-primary">Speichern</button>
                <button @click="buttonAbbrechenClick" class="btn btn-danger m-3">Abbrechen</button>

            </main>

            <!-- D E L E T E VIEW -->
            <main v-if="deleteVisible" class="border mb-3 p-3">
                <h2>Datensatz löschen</h2>
                <p>Wollen Sie wirklich {{ personZuLoeschen.name }} löschen?</p>
                <button @click="buttonJaClick" class="btn btn-danger">Ja</button>
                <button @click="buttonAbbrechenClick" class="btn btn-light">Abbrechen</button>
            </main>

            <!-- U P D A T E VIEW -->
            <main v-if="updateVisible" class="border mb-3 p-3">
                <h2>Update: Datensatz bearbeiten</h2>

                <div class="border mb-3 p-3">
                    <label class="form-label" for="inputName">Name</label>
                    <input v-model="personUpdate.name" class="form-control" id="inputName" type="text">
                </div>

                <div class="border p-3">
                    <label class="form-label" for="inputGeburtsdatum">Geburtsdatum</label>
                    <input v-model="personUpdate.geburtsdatum" class="form-control" id="inputGeburtsdatum" type="date">
                </div>

                <div class="border p-3">
                    <label class="form-label" for="textareaGeschenkidee">geschenkIdee</label>
                    <textarea v-model="personUpdate.geschenkidee" class="form-control" id="textareaGeschenkidee"></textarea>
                </div>
                
                <button @click="buttonUpdateSpeichernClick" class="btn btn-primary">Speichern</button>
                <button @click="buttonAbbrechenClick" class="btn btn-danger m-3">Abbrechen</button>
            </main>            
        </div>

        <footer class="border p-3">
            Geburtstage von T3A
        </footer>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>